
# Ignore dynaconf secret files
.secrets.*

/api_tests/api_helpers.py
/logs
/allure-reports
/allure-results
/api_tests/tests/allure-results
/api_tests/tests/allure-reports
/.pytest_cache
.idea/sonarlint
.idea
